body{ 
    width:60%;
    margin:auto;
    text-align:centre;
    background-color:#FFFFE0;
    font-size:14px;
}

h1,h2{
    text-align:center;
}

h3{
text-align:left;
font-size:14px;
}



#mainimage{
width:80%;
float:center;
border:10px solid black;
}


#mainmenu{
text-align:auto;
background-color:black;
margin-top:0px;
color:white;
font-weight:bold;
font-size:14pt;
}
