body{ 
    width:60%;
    margin:auto;
    text-align:centre;
    font-size:14px;
}
h1,h2{
    text-align:centre;
}

  
#mainimage{
width:50%;
height:50%;
float:center;
margin:auto;

}




#mainmenu{
text-align:auto;
background-color:black;
margin-top:0px;
color:white;
font-weight:bold;
font-size:14px;
}






h3{
text-align:left;
font-size:14px;
}
